<button
    (click)="isShown = !isShown">
    Toggle element
</button>
<p
    @showState
    *ngIf="isShown">
    You can see me now!
</p>
<button
    (click)="width = width - 50">
    Shrink
</button>
<button
    (click)="animate = true">
    Animate me
</button>
<p
    [@animateState]="animate ? 'animated' : 'noAnimation'"
    [ngStyle]="{ 'width.px': width }">
    Shrink me
</p>
<hr>
<button
    (click)="onAddElement()">
    Add Element
</button>
<div
    *ngFor="let testResult of testResults"
    @listState
    (@listState.start)="onAnimationStarted($event)"
    (@listState.done)="onAnimationDone($event)"
    class="test-result">
    {{ testResult }}
</div>
