p {
    border: solid 1px #000000;
    background-color: lightblue;
    padding: 10px;
}

.test-result {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid darkblue;
    background-color: lightblue;
}
